.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 350px;
}
.game-board {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
.intro-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 340px;
}
.intro-form > p {
  margin: 5px;
}
.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-container h3 {
  margin: 10px 0;
  width: fit-content;
}
h3.main-title {
  font-size: 2rem;
  margin: 5px;
}
p > button.shipsButtons {
  margin-top: 10px;
}
.player-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px;

}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name-input{
padding: 10px;
margin: 5px;
}
.startGame-button{
  padding: 10px;
  margin: 5px;
}
.surrender-button{
  margin-bottom: 20px;
}
.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 340px;
}
.shipsButtons {
  padding: 2px 2px;
  margin: 0 5px;
}
.bottom-container>div{
  margin: 5px;
}
.bottom-container>p{
  margin: 5px;
}
.bottom-container>b{
  margin: 5px;
}
.bottom-container>li{
  height: 25px;
  margin: 5px 0;
}

.main-container > h3 {
  color: rgb(82, 82, 82)
}

.redMessage{
  color: rgb(251, 48, 48);
  font-weight: bold;
}