.game {
  display: flex;
  flex-direction: row;
}
.top-container {
  display: flex;
  flex-direction: row;
}
.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name-input{
padding: 20px;
margin: 30px;
}
.startGame-button{
  padding: 20px;
  margin: 30px;
}
.bottom-container{
  margin: 20px auto;
}
.bottom-container>li:nth-of-type(1){
  color:red;
}