.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.square:focus {
  outline: none;
}
.square.selected {
  background: lightcoral;
}
.square.suggested {
  background: rgb(250, 177, 177);
}
.square.forbidden {
  background: rgb(251, 48, 48);
}
.square.carrier {
  background: lightgreen;
}
.square.cruiser {
  background: lightpink;
}
.square.submarine {
  background: lightblue;
}